aks-terraform/.terraform.lock.hcl
aks-terraform/.terraform/
aks-terraform-/aks-cluster-module/.terraform.lock.hcl       
aks-terraform/aks-cluster-module/.terraform/
aks-terraform/kubeconfig.yaml
aks-terraform/networking-module/.terraform.lock.hcl        
aks-terraform/networking-module/.terraform/
aks-terraform/terraform.tfstate
.DS_Store